.registration {
    display: flex;
    position: relative;
    justify-content: left;
    width: 1000px;
    height: 1300px;
    overflow: hidden;
    padding-top: 20px;
    background: #10bcf0;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

td {
    color: #070453;
    font-size: 15px;
}

table {
    background-color: #8556f4;
    display: flex;
    height: fit-content;
    justify-content: left;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 200px;
    border-radius: 30px;
    margin-right: 100px;
}

#fname {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#lname {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#uname {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#age {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#dob {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#nid {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#contact {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#address {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#language {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#experience {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#submitbutton {
    display: inline-flex;
    justify-content: center;
    height: 40px;
    border-radius: 17px;
    margin-top: 10px;
    padding-left: 7px;
    width: 150px;
    border: 2px;
    margin: 20px;
    overflow: hidden;
    background-color: rgb(182, 233, 184);
}

#submitbutton:hover {
    background-color: #4ee695;
    cursor: pointer;
}

#resetbutton {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    height: 40px;
    border-radius: 17px;
    margin-top: 10px;
    padding-left: 7px;
    width: 150px;
    border: 2px;
    margin: 20px;
    overflow: hidden;
    background-color: rgb(182, 233, 184);
}

#resetbutton:hover {
    background-color: rgb(63, 117, 218);
    cursor: pointer;
}

p {
    color: red;
    font-weight: bold;
}

p.form {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: wavy;
    color: #010b0a;
}

hr {
    color: #08a7dd;
}

#email {
    background: #64959f;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}

#password {
    background: #6ca4b0;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 200px;
    padding: 2px;
    margin-top: 20px;
    text-align: left;
}